body {
    margin:0px;
    display: flex;
   justify-content:center;
    background-color: rgb(247, 247, 252);
    color: rgb(128, 123, 123);
    font-family: sans-serif;
    font-size:small;
    
}

.hr {
    width: 80%;
    border-bottom: 2px solid rgb(187, 184, 184);
    align-items: center;
}



.container {  
    display: flex;  
   
}



.card-container {
   
   background-color:white;
   padding: 1em 0em;
   box-shadow: 0 0 20px #a3b4c0;
   
}

.flex {
    display: flex;
    justify-content: space-between;
    gap:1em;
    padding: 1em 1em 0.5em 1em;
    
}

.increase-size {
    height: 20px;
    width: 20px;
    
}

#sliderContainer {
    width: 90%;
    height: 0.6vh;
    margin: 2em 1em 1em 1em;
  
   
}

#slider {
    width: 100%;
}

.increase {

    height: 10em;
    width: 15em;
   
}

.playing-now {
    font-size: smaller;
    align-self: end;
    
   
}

.align-center {
    text-align: center;
   
}

.text-change {
    color: black;
   
   
}

.auther {
    margin:0.6em 0em 1.5em 0em;
    color: rgb(49, 45, 45);
}


.button-border {

    border: 0px ;
    background-color: inherit;
   
}

.bigger {
    height: 40px;
    width: 40px;
    margin-top: -10px;
   
}

.shadow {
    box-shadow: 0 0 20px #83a3b9;
}

.margin {
   padding: 0px 1em;
   font-size: smaller;
}